.blogsContainer {
  display: grid;
  max-width: 100vw;
  margin: auto;
  max-height: 100vh;
  z-index: 9999;
  overflow: hidden; }
  .blogsContainer .head {
    background: rgba(100, 124, 189, 0.2);
    -moz-box-shadow: 0rem 0.01rem 0.5rem black;
    -webkit-box-shadow: 0rem 0.01rem 0.5rem black;
    box-shadow: 0rem 0.01rem 0.5rem black;
    display: flex;
    width: 100vw;
    transition: 0.3s;
    z-index: 999;
    position: fixed;
    top: 0; }
    .blogsContainer .head .search {
      color: #647cbd;
      border: 0.1rem solid #384c83;
      margin: 0.5rem;
      width: 10rem;
      height: 2rem;
      font-size: 1rem;
      padding: 0.2vw;
      -webkit-transition: width 0.2s ease-in-out;
      -ms-transition: width 0.2s ease-in-out;
      transition: width 0.2s ease-in-out; }
      .blogsContainer .head .search:focus {
        width: 15rem; }
  .blogsContainer .main {
    height: 90vh;
    z-index: 1;
    overflow: auto; }
    .blogsContainer .main .equalMargin {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      width: 98vw; }
      .blogsContainer .main .equalMargin .card {
        width: 20rem;
        margin: 4rem auto;
        align-content: center;
        justify-content: center;
        align-content: center;
        background: white;
        -moz-box-shadow: 0rem 0.01rem 0.5rem black;
        -webkit-box-shadow: 0rem 0.01rem 0.5rem black;
        box-shadow: 0rem 0.01rem 0.5rem black;
        -webkit-animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        -ms-animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
        border-radius: 0.2rem;
        text-align: center; }
        .blogsContainer .main .equalMargin .card:hover {
          -moz-box-shadow: 0rem 0.3rem 0.8rem black;
          -webkit-box-shadow: 0rem 0.3rem 0.8rem black;
          box-shadow: 0rem 0.3rem 0.8rem black;
          cursor: pointer; }
        .blogsContainer .main .equalMargin .card img {
          width: 18rem;
          height: 9.09091rem;
          margin: -2rem auto 0 auto;
          padding: 1.2%;
          border-radius: 0.2rem;
          background: white;
          -moz-box-shadow: 0rem 0.01rem 0.5rem black;
          -webkit-box-shadow: 0rem 0.01rem 0.5rem black;
          box-shadow: 0rem 0.01rem 0.5rem black; }
        .blogsContainer .main .equalMargin .card .cardContent {
          width: 19.8rem;
          margin: auto;
          text-align: left; }
          .blogsContainer .main .equalMargin .card .cardContent h2 {
            text-align: center;
            padding: 0.8rem;
            color: #f2f2f2;
            min-height: 4rem;
            background-color: #384c83; }
          .blogsContainer .main .equalMargin .card .cardContent p {
            padding: 0 1rem;
            flex: 1;
            color: #384c83;
            margin: auto;
            height: 13rem;
            overflow: auto; }
          .blogsContainer .main .equalMargin .card .cardContent h3 {
            background-color: red; }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-moz-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: top;
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; } }

@-moz-keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: top;
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; } }

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: top;
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; } }

.postContainer {
  width: 98vw;
  margin: auto;
  height: 100vh; }
  .postContainer .header {
    margin: auto;
    height: 50vh;
    width: 80vw;
    padding: 2em;
    box-sizing: margin-box;
    text-align: center; }
    .postContainer .header img {
      height: 50vh; }
  .postContainer .bodyArea {
    display: flex; }
    .postContainer .bodyArea .content {
      flex: 2.5;
      box-sizing: margin-box;
      background: white;
      -moz-box-shadow: 0rem 0.01rem 0.5rem black;
      -webkit-box-shadow: 0rem 0.01rem 0.5rem black;
      box-shadow: 0rem 0.01rem 0.5rem black;
      border-radius: 0.2rem;
      margin: 1em;
      height: auto;
      padding: 2em; }
    .postContainer .bodyArea .allOther {
      border-radius: 0.2rem;
      box-sizing: margin-box;
      flex: 1;
      background: white;
      -moz-box-shadow: 0rem 0.01rem 0.5rem black;
      -webkit-box-shadow: 0rem 0.01rem 0.5rem black;
      box-shadow: 0rem 0.01rem 0.5rem black;
      padding: 2em;
      margin: 1em; }

